.body {
    max-width: 1512px;
}

.header {
    background-color: #FFFFFF;
    max-width: 1512px;
    margin: 0 auto;
    height: 99px;

}

.header__inner {
    padding: 10px 15px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    text-align: left;
}

.header-nav {
    list-style: none;
}

.header-nav-list {
    display: flex;
}

.header-nav__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-right: 30px;
}

.attendance-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    height: 579px;
    background-color: #F2F2F2;
}


.attendance-table {
    margin: 30px auto;
    width: 80%;
    text-align: center;
}

.attendance-table__inner {}

.attendance-table__row {
    border-bottom: 1px solid #170808;
}

.attendance-table__header {
    padding: 12px;
    width: 50%;
    border-bottom: 1px solid #170808;
    border-top: 1px solid #170808;
    font-weight: bold;
}

.attendance-table__header-span {
    margin-right: 150px;

}

.attendance-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 80%;
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;

}