.body {
    max-width: 1512px;
}

.header {
    background-color: #FFFFFF;
    max-width: 1512px;
    margin: 0 auto;
    height: 99px;

}

.header__inner {

    padding: 10px 15px;


}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    text-align: left;
}



.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    height: 579px;
    background-color: #F2F2F2;
}

.login-form__heading {

    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}



.form {
    margin: 0 auto;
    width: 736px;

    text-align: center;
}

.form__group {
    padding-top: 15px;
    text-align: center;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 20px;
    width: 470px;
    border: 3px solid #909090;
    background-color: #F2F2F2;
    border-radius: 3px;
    appearance: none;
}

.form__input--text input {
    height: 25px;
}

::placeholder {
    color: #909090;
    font-size: 15px;
}

.login__button {
    margin-top: 20px;
    text-align: center;

}

.login__button-submit {
    padding: 10px;
    width: 470px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #214BE0;
    border-radius: 3px;
    font-size: 15px;

}

.login__caption {
    margin-top: 30px;
    text-align: center;
    line-height: 10px
}

p {
    color: #969696;
    font-size: 15px;
}

.caption-nav {
    list-style: none;

}

.caption-nav__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #3B60E2;

}