.body {
    max-width: 1512px;
}

.header {
    background-color: #FFFFFF;
    max-width: 1512px;
    margin: 0 auto;
    height: 99px;

}

.header__inner {
    padding: 10px 15px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-size: 40px;
    text-align: left;
}

.header-nav {
    list-style: none;
}

.header-nav-list {
    display: flex;
}

.header-nav__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-right: 30px;
}


.stamp-form__content {
    margin: 0 auto;
    padding: 15px 15px;
    height: 579px;
    background-color: #F2F2F2;
}

.stamp-form__heading {
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.stamp-form__inner {
    margin: 0 auto;

}




.form__button {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: none;

}

.form__group {
    padding-top: 20px;
    text-align: center;

}

.start-form__button-submit,
.end-form__button-submit,
.breakstart-form__button-submit,
.breakend-form__button-submit {
    width: 450px;
    height: 180px;
    font-size: 25px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}



.start-form__button-submit,
.breakstart-form__button-submit {
    margin-left: 250px;
    margin-right: 50px;

}

.breakstart-form__button-submit,
.breakend-form__button-submit {
    margin-top: 50px;
}